{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c686f720a3d8da0fbf5e30a7371d24f4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://jupiterone-nfr.clients.us-1.kandji.io/api/v1/devices?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 572,
            "text": "[{\"device_id\":\"d7532562-0fbd-47f5-9609-e41759bf01ef\",\"device_name\":\"RickandMorty-MBP\",\"model\":\"MacBook Air (Retina, 13-inch, 2020)\",\"serial_number\":\"[REDACTED]\",\"platform\":\"Mac\",\"os_version\":\"12.0.1\",\"last_check_in\":\"2022-06-24T14:21:28.517013Z\",\"user\":\"\",\"asset_tag\":\"\",\"blueprint_id\":\"224cd78a-a06f-4254-a0a2-b4b8adbad404\",\"mdm_enabled\":true,\"agent_installed\":false,\"is_missing\":false,\"is_removed\":false,\"agent_version\":\"\",\"first_enrollment\":\"2022-06-24 14:20:19.961496+00:00\",\"last_enrollment\":\"2022-06-24 14:20:19.961496+00:00\",\"blueprint_name\":\"Default Blueprint\"}]"
          },
            {
              "expires": "2022-07-27T09:52:24.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET"
            },
            {
              "name": "link",
              "value": "<None>; rel=\"next\", <None>; rel=\"prev\""
            },
            {
              "name": "x-total-count",
              "value": "1"
            },
            {
              "name": "x-total-pages",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1130,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
