{
  "log": {
    "_recordingName": "fetch-devices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7c567addfd78617fd6a7306f43901871",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://jupiterone-nfr.api.kandji.io/api/v1/devices?offset=0&limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 600,
            "text": "[{\"device_id\":\"d7532562-0fbd-47f5-9609-e41759bf01ef\",\"device_name\":\"RickandMorty-MBP\",\"model\":\"MacBook Air (Retina, 13-inch, 2020)\",\"serial_number\":\"[REDACTED]\",\"platform\":\"Mac\",\"os_version\":\"12.0.1\",\"last_check_in\":\"2022-09-19T12:39:21.576048Z\",\"user\":{\"email\":\"adam.williams@jupiterone.dev\",\"name\":\"Adam Williams\",\"id\":1,\"is_archived\":false},\"asset_tag\":\"\",\"blueprint_id\":\"224cd78a-a06f-4254-a0a2-b4b8adbad404\",\"mdm_enabled\":true,\"agent_installed\":true,\"is_missing\":true,\"is_removed\":false,\"agent_version\":\"3.7.2 (2834)\",\"first_enrollment\":\"2022-06-24 14:20:19.961496+00:00\",\"last_enrollment\":\"2022-06-24 14:20:19.961496+00:00\",\"blueprint_name\":\"Default Blueprint\",\"lost_mode_status\":\"\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET"
            },
            {
              "name": "link",
              "value": "<None>; rel=\"next\", <None>; rel=\"prev\""
            },
            {
              "name": "x-total-count",
              "value": "1"
            },
            {
              "name": "x-total-pages",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1568,
      },
      {
        "_id": "ce8a7788e38ca72ee84cbfc2a851a565",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone-nfr.api.kandji.io/api/v1/devices/d7532562-0fbd-47f5-9609-e41759bf01ef/details"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4028,
            "text": "{\"general\":{\"device_id\":\"d7532562-0fbd-47f5-9609-e41759bf01ef\",\"device_name\":\"RickandMorty-MBP\",\"last_enrollment\":\"2022-06-24 14:20:19.961496+00:00\",\"first_enrollment\":\"2022-06-24 14:20:19.961496+00:00\",\"model\":\"MacBook Air (Retina, 13-inch, 2020)\",\"platform\":\"Mac\",\"os_version\":\"12.0.1\",\"system_version\":\"12.0.1 (21A559)\",\"boot_volume\":\"Macintosh HD\",\"time_since_boot\":\"18 minutes ago\",\"last_user\":\"rickmorty\",\"asset_tag\":\"\",\"assigned_user\":{\"email\":\"adam.williams@jupiterone.dev\",\"name\":\"Adam Williams\",\"id\":1,\"is_archived\":false},\"blueprint_name\":\"Default Blueprint\",\"blueprint_uuid\":\"224cd78a-a06f-4254-a0a2-b4b8adbad404\"},\"mdm\":{\"mdm_enabled\":\"True\",\"supervised\":\"True\",\"install_date\":\"2022-06-24 14:20:19.868659+00:00\",\"last_check_in\":\"2022-09-19 12:38:28.741621+00:00\",\"mdm_enabled_user\":[\"Rick & Morty\"]},\"activation_lock\":{\"bypass_code_failed\":true,\"user_activation_lock_enabled\":false,\"device_activation_lock_enabled\":false,\"activation_lock_allowed_while_supervised\":false,\"activation_lock_supported\":true},\"filevault\":{\"filevault_enabled\":true,\"filevault_recoverykey_type\":\"Personal\",\"filevault_prk_escrowed\":false,\"filevault_next_rotation\":\"\",\"filevault_regen_required\":false},\"lost_mode\":{},\"automated_device_enrollment\":{},\"kandji_agent\":{\"agent_installed\":\"True\",\"install_date\":\"2022-09-19 12:14:51+00:00\",\"last_check_in\":\"2022-09-19T12:39:26.039998Z\",\"agent_version\":\"3.7.2 (2834)\"},\"hardware_overview\":{\"model_name\":\"MacBook Air\",\"model_identifier\":\"MacBookAir9,1\",\"processor_name\":\"1 GHz 4-Core Intel Core i5\",\"processor_speed\":\"\",\"number_of_processors\":\"4\",\"total_number_of_cores\":\"4\",\"memory\":\"8 GB 3733MHz LPDDR4X\",\"udid\":\"644d7162-2b41-5a68-9aa7-8db4fc6abff5\",\"serial_number\":\"C02D91CNPV4M\"},\"volumes\":[{\"name\":\"Macintosh HD\",\"format\":\"APFS\",\"percent_used\":\"9%\",\"identifier\":\"disk1s5s1\",\"capacity\":\"233.47 GB\",\"available\":\"210.93 GB\",\"encrypted\":\"No\"},{\"name\":\"Macintosh HD - Data\",\"format\":\"APFS (Encrypted)\",\"percent_used\":\"9%\",\"identifier\":\"disk1s1\",\"capacity\":\"233.47 GB\",\"available\":\"210.93 GB\",\"encrypted\":\"Yes\"}],\"network\":{\"local_hostname\":\"RickandMorty-MBP\",\"mac_address\":\"14:7d:da:4f:73:10\",\"ip_address\":\"192.168.111.197\",\"public_ip\":\"\"},\"recovery_information\":{\"recovery_lock_enabled\":false,\"firmware_password_exist\":false,\"firmware_password_pending\":false,\"password_rotation_scheduled\":null,\"password_escrowed\":false},\"users\":{\"regular_users\":[{\"username\":\"rickmorty\",\"uid\":\"501\",\"path\":\"/Users/rickmorty\",\"admin\":\"Yes\",\"name\":\"\"}],\"system_users\":[{\"username\":\"_lp\",\"uid\":\"26\",\"path\":\"/var/spool/cups\",\"admin\":\"No\"},{\"username\":\"_ard\",\"uid\":\"67\",\"path\":\"/var/empty\",\"admin\":\"No\"},{\"username\":\"_ces\",\"uid\":\"32\",\"path\":\"/var/empty\",\"admin\":\"No\"},{\"username\":\"_cvs\",\"uid\":\"72\",\"path\":\"/var/empty\",\"admin\":\"No\"},{\"username\":\"_lda\",\"uid\":\"211\",\"path\":\"/var/empty\",\"admin\":\"No\"},{\"username\":\"_rmd\",\"uid\":\"277\",\"path\":\"/var/db/rmd\",\"admin\":\"No\"},{\"username\[...]
