{
  "log": {
    "_recordingName": "fetch-device-apps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7c567addfd78617fd6a7306f43901871",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://jupiterone-nfr.clients.us-1.kandji.io/api/v1/devices?offset=0&limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 671,
            "text": "[{\"device_id\":\"d7532562-0fbd-47f5-9609-e41759bf01ef\",\"device_name\":\"RickandMorty-MBP\",\"model\":\"MacBook Air (Retina, 13-inch, 2020)\",\"serial_number\":\"[REDACTED]\",\"platform\":\"Mac\",\"os_version\":\"12.0.1\",\"last_check_in\":\"2022-09-19T12:39:21.576048Z\",\"user\":{\"email\":\"adam.williams@jupiterone.dev\",\"name\":\"Adam Williams\",\"id\":1,\"is_archived\":false},\"asset_tag\":\"\",\"blueprint_id\":\"224cd78a-a06f-4254-a0a2-b4b8adbad404\",\"mdm_enabled\":true,\"agent_installed\":true,\"is_missing\":false,\"is_removed\":false,\"agent_version\":\"3.7.2 (2834)\",\"first_enrollment\":\"2022-06-24 14:20:19.961496+00:00\",\"last_enrollment\":\"2022-06-24 14:20:19.961496+00:00\",\"blueprint_name\":\"Default Blueprint\"}]"
          },
            {
              "expires": "2022-09-26T18:41:15.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET"
            },
            {
              "name": "link",
              "value": "<None>; rel=\"next\", <None>; rel=\"prev\""
            },
            {
              "name": "x-total-count",
              "value": "1"
            },
            {
              "name": "x-total-pages",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 931,
      },
      {
        "_id": "bf19d6bd35e9ae1c5a15d547ad70dc1b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "100"
            },
            {
              "name": "limit",
              "value": "100"
            [...]
